/*******************************
The CSS code in this file will deal 
with the conclusion page
********************************/

header {
  margin-top: 50px;
}

#conclusion_main {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 450px;
}

#first_section {
  margin-top: 50px;
}