/*******************************
The CSS code in this file will deal 
with the data page 
********************************/



/*******************************
Code dealing with the main section-section one 
********************************/

main {
  margin-top: 50px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 50px;
}

#section_one {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 
  "one two three"
  "four five six"
  "seven eight nine";
  grid-gap: 2em;
  margin-top: 30px;
}

.box {
  padding-top: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
}

.box:hover {
  background-color: #3BBAD4;
  color: #D4553B;
}

/*.mean_heading:hover{
  color: #D4553B;
}*/

.Hate {
  grid-area: one;
}

.Median {
  grid-area: two;
}

.Share {
  grid-area: three;
}

.Population {
  grid-area: four;
}

.White {
  grid-area: five;
}

.Gini {
  grid-area: six;
}

.Non {
  grid-area: seven;
}

.Citizen {
  grid-area: eight;
}

.Metro {
  grid-area: nine;
}

@media only all and (max-width: 768px){

  #section_one {
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(1, auto);
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four" 
    "five" 
    "six"
    "seven" 
    "eight" 
    "nine";
  }

}