/*******************************
The CSS code in this file will deal 
with the graph page
********************************/

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
}

.center {
  text-align: center;
}

/*******************************
CSS for the header and se
********************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

#optionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-bottom: 15px;
}

/*******************************
CSS for the main/graph area portion of the page
********************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 38vh;
}

#graphOne {
  display: none;
}

#graphOneSub {
  display: none;
}

#graphTwo {
  display: none;
}

#graphTwoSub {
  display: none;
}

#graphThree {
  display: none;
}

#graphThreeSub {
  display: none;
}

#graphFour {
  display: none;
}

#graphFourSub {
  display: none;
}

#graphFive {
  display: none;
}

#graphFiveSub {
  display: none;
}

