/*******************************
The CSS code in this file will deal 
with the graph page
********************************/

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
}

.center {
  text-align: center;
}



/*******************************
CSS for the header and se
********************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

#optionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-bottom: 15px;
}

/*******************************
CSS for the main/graph area portion of the page
********************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 38vh;
}

/* All of the code below makes the graphs display to none */

#graphOne {
  margin-top: 15px;
}

#graphTwo {
  display: none;
}

#graphTwoSub {
  display: none;
}

#graphThree {
  display: none;
}

#graphThreeSub {
  display: none;
}

#graphFour {
  display: none;
}

#graphFourSub {
  display: none;
}

#graphFive {
  display: none;
}

#graphFiveSub {
  display: none;
}

/*******************************
CSS for the histogram charts
********************************/

#historgram_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#buttonAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#histogram_graph {
  width: 800px;
  height: 600px;
}

/*******************************
CSS for the FBI Hate Crime Graphs
********************************/
#fbi_graphs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


