/*****************************************
All of the CSS code in this file will handle the 
CSS on the home.html file. 
****************************************/ 



/*****************************************
The CSS code below here will deal with main area
****************************************/ 

main {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 3%;
  margin-right: 3%;
}



/*****************************************
The CSS code below here will deal with section one 
****************************************/ 

#section_one {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "one two";
  grid-gap: 1.5em;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: one;
}

.one h1 {
  margin-top: 50px;
}

.two {
  background-image: url(https://source.unsplash.com/1lfI7wkGWZ4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  grid-area: two;
}

/*****************************************
The CSS code below here will deal with section two
****************************************/ 

.section_two_heading {
  margin-top: 30px;
}

#section_two {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 
  "three four five";
  grid-gap: 1.5em;
}

.three {
  grid-area: three;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four {
  grid-area: four;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five {
  grid-area: five;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****************************************
The CSS code below here will deal with section Three
****************************************/ 

#section_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_three_div {
  margin-top: 30px;
  width: 400px;
}


/*****************************************
Code for media queries
****************************************/

@media only all and (max-width: 768px) {

  #section_one {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "one"
    "two";
  }

  #section_two {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
    "three"
    "four"
    "five";
  }

  .section_three_div {
    margin-top: 30px;
    width: 285px;
  }


}


