/*******************************
The CSS code in this file will deal with the login and 
sign up pages 
********************************/

.initial_btn {
  margin-top: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #fcad26;
  font-size: 16px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 8px #efa424;
}

.initial_btn:hover {
  box-shadow: 0 4px #efa424;
  top: 2px;
}

.initial_btn:active {
  box-shadow: none;
  top: 6px;
}

button {
  margin-top: 10px;
  background-color: orange;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 12px;
}

/*******************************
CSS for log in page
********************************/

#login_main {
  background-image: url(https://source.unsplash.com/4KDngW9vWwo);
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_input:focus {
  background-color: #6cf70c;
  border-color: #6cf70c;
}

/*******************************
CSS for signup page
********************************/

#signup_main {
  background-image: url(https://source.unsplash.com/49LBMXrY5BE);
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
}

.sign_up_login:focus {
  background-color: #6cf70c;
  border-color: #6cf70c;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}