/**************************
This file will contain CSS that is used 
throughout all of the pages
***************************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only all and (max-width: 768px) {

  footer h5 {
    text-align: center;
  }

}