/**************************
This file will contain CSS that is used 
throughout all of the pages
***************************/

button {
  margin-top: 10px;
  background-color: orange;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}