/*******************************
The CSS code in this file will deal 
with the maps.html page
********************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:  url(../img/maps.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map_title {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.map_title h1 {
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 50px;
}

