/*******************************
The CSS code in this file will deal 
with the maps.html page
********************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:  url(../img/maps.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map_title {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.map_title h1 {
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 50px;
}

.small_heading {
  display: none;
}

.map_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map_color_labels {
  margin-top: 30px;
}

span {
  border: 1px solid black;
  padding-left: 8px; 
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.one {
  background-color: rgb(237,248,233);
}

.two {
  background-color: rgb(186,228,179);
}

.three {
  background-color: rgb(116,196,118);
}

.four {
  background-color: rgb(49,163,84);
}

.five {
  background-color: rgb(0,109,44);
}

/*******************************
Media Queries CSS 
********************************/

@media only all and (max-width: 768px) {

  .big_heading {
    display: none;
  }

  .small_heading {
    display: block;
    text-align: center;
  }

  #selection_area {
    display: none;
  }


}


