{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/con.css') }}">

<main id='conclusion_main'>

  <header>
    <h1 class='center'>Conclusion</h1>
  </header>

  <section>

    <div>
      <p>
        As I mentioned earlier, I'm not a data scientist. I would like to be one. However, I've 
        always enjoyed looking at data. I truly believe that by visuallizing data you can bring it alive and tell a story. I can't even count the amount of times that people have seen my projects and really said something along the lines of 'oh wow' or 'that's really interesting'. This is probably one of my larger data projects and I felt that I added much more to it than I have in the past. I used Bokeh, Matplotlib, D3.JS, webscraping and Pandas to do some analysis. 
      </p>

      <p>
        For me, one of the most interesting aspects of this project was how much hate crimes, against Muslims, are going up. It is still low compared to blacks. However, since about 2014 hate crimes, against Muslims, is rising. Could this have something to do with ISIS? Trump ran for President in June of 2015. Did the help fuel the fire? The fact that I would want to did further into this is a good sign. It makes me curious as to why the data is a particular way. It's also something that I'll want to revist in a later date. 
      </p>

    </div>

  </section>

  <section>
  </section>


</main>


{% endblock %}