{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}">

<main>

  <h1 class='center'>The Mean Values</h1>

  <section id='section'>

    {% for key, value in mean_dict.items() %}
      <div class='box {{ key }}'>
        <h6>{{ key }}</h6>
        <p>Mean Value: {{ value }}</p>
      </div>
    {% endfor %}

  </section>

  <hr>

  <h1 class='center'>The Standard Deviation Values</h1>

  <section id='section'>

    {% for key, value in std_dict.items() %}
      <div class='box {{ key }}'>
        <h6>{{ key }}</h6>
        <p>Standard Deviation: {{ value }}</p>
      </div>
    {% endfor %}

  </section>


</main>

<hr>

{% endblock %}