{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}">

<main>

  <h1 class='center'>The Mean Values for Nine Columns</h1>

  <section id='section_one'>

    {% for key, value in mean_dict.items() %}
      <div class='box {{ key }}'>
        <h6>{{ key }}</h6>
        <p>Mean Value: {{ value }}</p>
      </div>
    {% endfor %}

  </section>


</main>




{% endblock %}