{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}">

<main>

  <h1 class='center'>The Mean's of the Columns</h1>

  <section id='section_one'>

    {% for key, value in mean_dict.items() %}
      <div class='box_{{ key }}'>
        <h6>{{ key }}</h6>
        <p>Mean Value: {{ value }}</p>
      </div>
    {% endfor %}

    <!-- <div class='box_one'>
      <h6>Median Household Income</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_two'>
      <h6>Share Unemployed Seasonal</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_three'>
      <h6>Share of Population in Metro Areas</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_four'>
      <h6>Share of Population with High School Degree</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_five'>
      <h6>Share of Non Citizen</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_six'>
      <h6>Share of White Poverty</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_seven'>
      <h6>Gini Index</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_eight'>
      <h6>Share of Non-White</h6>
      <p>Mean Value: </p>
    </div>

    <div class='box_nine'>
      <h6>Hate Crimes / 100k FBI</h6>
      <p>Mean Value: </p>
    </div> -->

  </section>


</main>




{% endblock %}