{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">

<main>

  <section id='section_one'>

    <div class='one'>
      <h1>Project Purpose</h1>
      <p>
        The purpose of this project is to investigate hate crimes across the U.S. as a data science project. However, the user is encouraged not to take the findings in this project for fact. The reason being is that I have never taking a formal data science class. Thus, some of the findings in this project may not be accurate. I will state that I will try my hardest to make the results as accurate as possible. Thus, in conclusion, the main purpose of this project is to improve my skills with Pandas and data science in general. Saying all of that, this site will have two main sections. Data and Graphs...
      </p>
      <p>
        This site will focus on a csv file that I call hate crimes which I got from the fivethiryeight github repo. The data that will be examined deal a lot with median house hold income, occurance of hate crimes, percentage of black and white poverty, percentage of immigrants, the gini index, percentage of people who voted for Trump. Thus the data will be examined to see what we can learn about hate crimes in the U.S.
      </p>
    </div>

    <div class='two'>
    </div>

  </section>

  <hr>

  <h1 class='section_two_heading center'>...The Main Parts of the Site</h1>

  <section id='section_two'>

    <div class='three'>
      <h3>Data</h3>
      <p>
        The data aspect of this site...I will admit will be quite boring. It'll will basically go through
        the data and show such exciting things as the mean in a column. The main purpose of this page is to 
        understand the 'layout of the data'.
      </p>
    </div>

    <div class='four'>
      <h3>Graphs</h3>
      <p>
        Now, this is where we visually see the data. I've taken different columns from the csv data and made graphs out of them-mainly scatter plots. Then, below the graph, I've calculated the correlation between the two columns. Thus, one can see how strong of a correlation there is between the two columns. 
      </p>
    </div>

    <div class='five'>
      <h3>Maps</h3>
      <p>
        Again, the data is visually seen. In this section, I've built maps of the U.S. using D3.JS that will graphically show each state and how it falls on the column of data that is being examined. The user will have opportunities here to select whatever column they want from the data. 
      </p>
    </div>

  </section>

  <hr>

  <h1 class='section_three_heading center'>One More Thing...</h1>

  <section id='section_three'>

    <div class='section_three_div'>
      <h3>Conclusion:</h3>
      <p>
        I will have a conclusion page where I will do my best to talk about some of the findings that I made from this data. Again, I'm not a true data scientist. But I'm someone who is deeply interested in social issues and loves looking at data. 
      </p>
    </div>

  </section>

</main>

{% endblock %}