{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hate Crimes</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign_up">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<main id='landing_main'>

  <div class='one'>
    <img src="../static/img/hat.jpg">
  </div>

  <div class='two'>
    <img src="../static/img/blm.jpg">
  </div>

  <div class='three'>
    <img src="../static/img/graffiti.jpg">
  </div>

  <div class='four'>
    <img src="../static/img/poster.jpg">
  </div>

  <div class='five'>
    <img src="../static/img/statue.jpg">
  </div>

  <div class='six'>
    <img src="../static/img/hug.jpg">
  </div>

  <div class='seven'>
    <img src="../static/img/little_girl.jpg">
  </div>

  <div class='eight'>
    <img src="../static/img/protest.jpg">
  </div>

  <div class='nine'>
    <img src="../static/img/screaming.jpg">
  </div>

</main>

<hr>


{% endblock %}