{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">

<main id='landing_main'>

  <div class='one'>
    <img src="../static/img/hat.jpg">
  </div>

  <div class='two'>
    <img src="../static/img/blm.jpg">
  </div>

  <div class='three'>
    <img src="../static/img/graffiti.jpg">
  </div>

  <div class='four'>
    <img src="../static/img/poster.jpg">
  </div>

  <div class='five'>
    <img src="../static/img/statue.jpg">
  </div>

  <div class='six'>
    <img src="../static/img/hug.jpg">
  </div>

  <div class='seven'>
    <img src="../static/img/little_girl.jpg">
  </div>

  <div class='eight'>
    <img src="../static/img/protest.jpg">
  </div>

  <div class='nine'>
    <img src="../static/img/screaming.jpg">
  </div>

</main>

<hr>


{% endblock %}