{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

<main id='login_main'>

  <div class='signup_div'>
    <h1>Log In</h1>
    <!-- Error messaging -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    <!-- End Error messaging -->
    <form method='POST'>
      <input class='login_input' placeholder='username' name='username'>
      <input class='login_input' placeholder='password' name='password' type='password'>
      <button class='initial_btn'>Submit</button>
    </form>

  </div>

</main>

<hr>



{% endblock %}