{% extends 'base.html' %}

{% block body %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maps.css') }}">

<header>
  <div class='map_title'>
    <h1>Maps</h1>
  </div>
</header>

<main>

  <h2 class='big_heading'>Please Select Which Map You Want To See</h2>
  <h4 class='big_heading'>Hover over state to see exact values</h4>
  <h2 class='small_heading'>Sorry, maps not present on small screens</h2>
  <div id='selection_area'>
    <select id="select_map">
      <option value="FBI">FBI Hate Crimes</option>
      <option value="hate_crimes_SPLC">SPLC Hate Crimes</option>
      <option value="median_income">Median House Hold Income</option>
      <option value="share_unemployed">Share of Unemployed Seasonal</option>
      <option value="metro_areas">Share of Population in Metro Areas</option>
      <option value="hs_degree">Share of Population in with H.S. Degree</option>
      <option value="non_citizen">Share of Non-Citizen</option>
      <option value="white_pov">Share of White Poverty</option>
      <option value="gini">Gini Index</option>
      <option value="share_non_white">Share of Non-White</option>
      <option value="trump">Share of Voters who Voted Trump</option>
    </select>
    <div class='map_div'>
      <button class='initial_btn' onclick='selectMap(); return false;'>Push To Change Map</button>
    </div>
  </div>

  <div id='us-map'>
  </div>

</main>


<script src='{{ url_for('static', filename='js/maps.js') }}'></script>
{% endblock %}