{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

<main id='signup_main'>

  <div class='signup_div'>
    <h1>Sign Up</h1>
    <form method="POST">
      <input class='sign_up_login' placeholder='Username' name='username'>
      <input class='sign_up_login' placeholder='email' name='email'>
      <input class='sign_up_login' placeholder='password' type='password' name='password'>
      <button class='initial_btn'>Submit</button>
    </form>
  </div>

</main>

<hr>


{% endblock %}