{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Hate Crimes</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign_up">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<main id='signup_main'>

  <div class='signup_div'>
    <h1>Sign Up</h1>
    <form>
      <input placeholder='Username' name='username'>
      <input placeholder='email' name='email'>
      <input placeholder='password' name='password'>
    </form>
  </div>

</main>

<hr>


{% endblock %}