<style type="text/css">

#pi_area {
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pi_area {
  display: flex;
  flex-direction: column;
  color: white;
  width: 200px;
}

.entry-content {
  background-color: rgba(0,0,0,0.5);
}

</style>


<section id="pi_area">

  <div>
    <iframe src="https://www.youtube.com/embed/qPdr8ORiS4E" width="435" height="237" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>

  <div class="pi_area">
    <h1>PERSONAL INJURY</h1>
      We represent clients who have been the victim of an auto, truck, or motorcycle accident. We also represent medical malpractice and slip and fall injury victims.
    <a href="http://mcuddy12.info/wordpress/?page_id=292">More Personal Injury Videos</a>
  </div>

</section>

<section id="immigration">

  <div>
    <iframe src="https://www.youtube.com/embed/hG9az3AjWmA" width="435" height="237" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>

  <div class="immigration">
    <h1>Immigration</h1>
    We assist clients with various immigration matters. Whether you need a visa, are seeking citizenship, or facing deportation, we can help. We’ll keep you informed during the process and help you fill out the sometimes burdensome forms. The immigration process can be difficult, but you don’t have to go it alone.
    <a href="http://mcuddy12.info/wordpress/?page_id=298">More Immigration Videos</a>
  </div>

</section>